/* *{
  box-sizing:border-box;
}
body{
  background-color:#f2f2f2;
} */
#card-city{
  width: 80%;
  height: 500px;
  margin-top: 120px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right:auto;
  background-color: #fff;
  font-size: 0px;
  overflow: hidden;
  cursor: grab;
  border-radius: 8px;

}
#card-city:hover{
  width: 83%;


}
#left, #right{
  width: 100%;
  position: relative;
}

#left-top{
  width: 100%;
  background-color: black;
  height: 40px;
}
#plus {
  position:absolute;
  padding-top: 5px;
  padding-left: 10px;
  border: 0;
  background-color: black;
  color: #2ba7c9; 
  font-size: 24px;
  cursor: pointer;
}
#info{
  font-family: 'Helvetica';
  font-size:14px;
  color: #27ce9a;
  display: inline-block;
  position: absolute;
  top: 13px;  
  right: 20px;
  cursor: pointer;
}
#left-middle{
  height: 140px;
  width: 100%;
  position: relative;
}

#novantotto{
  font-family:'Helvetica';
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
}
#dots{
  width: 50px;
  height: 60px;
  right: 7px;
  top: 50px;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#left-bottom{
  height:70px;
  position: absolute;
  bottom:10px;
  right:0px;
  left:15px;
 }
h1{
  font-family: 'Helvetica';
  font-size: 14px;
  color: #fff;
}
#cityguide{
  display: inline-block;
  position:absolute;
  height: 30px;
  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 2px;
  background-color: rgba(118, 124, 140, 0.3);
  cursor: pointer;
 }
#book{
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no repeat;
  left: 5px;
  top: 2px;
  position: absolute;
}
#guide{ 
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  left: 33px; 
  top: 7px;
  display: inline-block;
  position:absolute;
}
#mytrip{
  display: inline-block;
  position:absolute;
  right: 15px;
  height: 30px;
  width: 100px;
  border-width: 0px;
  border-radius: 2px;
  background-color: #27ce9a;
  font-family:'Helvetica';
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  cursor: pointer;
}
#right{
  padding-left: 15px;
  height: 250px;
}
#right_top{
  width: 100%;
  height: 40px;
  position: relative;
}
h2{
  font-family: 'Helvetica';
  font-size: 16px;
  color:#27ce9a; 
}
h3{
  font-family: 'Helvetica';
  font-size:11px;
  color: grey;
  line-height:1px;
}
#circle{
  width: 12px;
  height: 12px;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: #27ce9a;
  border-radius: 100%;
  margin-top: 2px;
}
.squares{
  position:absolute;
  display: inline-block;
  width:15px;
  height: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: rgba(220, 220, 220, 0.8);
  margin-top: -8px;
  margin-right: -30px;
}
#square_topsx{
  top: 10px;
  right: 40px
}
#square_topdx{
  top: 10px;
  right: 58px;
}
#square_bottomsx{
  top: 28px;
  right: 40px;
}
#square_bottomdx{
  top: 28px;
  right: 58px;
}
#right_middle{
  width: 100%;
  height: 120px;
  position:relative;
  top:20px;
}
#text{
  font-family: 'Helvetica';
  color: black;
  font-size: 10px;
  position:absolute;
  display: inline-block;
  line-height: 18px;
}
#line{
  width: 2px;
  height: 86px;
  border-radius: 1px;
  background-color: rgba(220, 220, 220, 0.4);
  position:absolute;
  display: inline-block;
  top: 13px;
  right: 85px;
}
#big_circle{
  width:120px;
  height:120px;
  background-color:rgba(220, 220, 220, 0.3);
  border-radius:100%;
  display:inline-block;
  position:absolute;
  right: -60px;
  top:-5px;
}
#small_circle{
  width: 50px;
  height: 50px;
  background-color:#27ce9a;
  border-radius: 100%;
  position:absolute;
  display: inline-block;
  top: 30px;
  right:-25px;;
}
.little_dots{
  width: 3px;
  height: 3px;
  background-color: rgba(220, 220, 220, 0.4);
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  margin-top: 2px;
}
#dot2{
  left: 20px;
}
#dot3{
  left: 25px;
}
#right_bottom{
  width: 100%;
  height: 90px;
  position: relative;
  top:10px;
}
#friends{
  font-family:'Helvetica';
  font-size: 8px;
  color: grey;
  position: absolute;
}
.faces{
  width: 35px;
  height: 35px;
  background-color: rgba(220, 220, 220, 0.4);
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  margin-top: 22px;
}

#more_one{
  width: 90px;
  height: 20px;
  border:0px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: 30px;
  right: 0px;
  font-family: 'Helvetica';
  font-size: 10px;
  color: grey;
  cursor: pointer;
}
#more_two{
  height:0px;
  width:0px;
  border:0px;
  font-size:0px;
  background-color: rgba(0,0,0,0.0);
}

@media (min-width: 480px) {
  #card-city{
    height: 560px;
  }
  #left, #right{
  width: 100%;
}
#left{
  height: 280px;
  }
  #plus{
    left: 10px;
  }  
#info{
  right: 30px;
}
#left-middle{
  height: 170px;
}
#percentuale{
  width: 80px;
  height: 80px;
  right: 10px;
}
#novantotto{
  font-size: 18px;
  right: 20px;
  top: 22px;
}
#dots{
  width: 70px;
  height: 90px;
  right: 20px;
  top: 60px;
}
#left-bottom{
  height:100px;
  bottom: -20px;
  left:60px;
 }
h1{
  font-size: 18px;
  line-height: 2px;
}
#cityguide{
  height: 35px;
  width: 120px;
 }
#book{
  width: 25px;
  height: 25px;
}
#guide{ 
  font-size: 12px;
  left: 40px; 
  top: 9px;
}
#mytrip{
  right: 60px;
  height: 35px;
  width: 120px;
  font-size: 12px;
}
#right{
  padding-left: 25px;
  height: 280px;
}
#right_top{
  height: 70px;
}
h2{
  font-size: 18px;
}
h3{
  font-size:12px;
  line-height:2px;
}
#right_middle{
  height: 150px;
  top:0px;
}
#text{
  font-size: 12px;
}
#line{
  height: 90px;
  top: 15px;
  right: 100px;
}
.little_dots{
  width: 6px;
  height: 6px;
  margin-top: -40px;
}
#dot2{
  left: 35px;
}
#dot3{
  left: 45px;
}
#right_bottom{
  height: 120px;
  top:-22px;
}
#face2{
  left: 45px;
}
#face3{
  left: 90px; 
}
#face4{
  width:35px;
  height:35px;
  left: 135px; 
}
#more_one{
  width: 0px;
  height: 0px;
  background-color: rgba (0,0,0,0.0);
  font-size: 0px;
}
#more_two{
  height:20px;
  width:90px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: 30px;
  right: 90px;
  font-family: 'Helvetica';
  font-size: 10px;
  color: grey;
  cursor: pointer;
}
}
@media (min-width:680px){
  #card-city{
    height: 400px;
  }
#left, #right{
  width: 50%;
  height: 100%;
  display: inline-block; 
}
#info{ 
  right: 30px;
}
#left-middle{
  height: 210px;
}
#percentuale{
  width: 80px;
  height: 80px;
  right: 15px;
  top: 30px;
}
#novantotto{
  font-size: 18px;
  right: 20px;
  top: 22px;
}
#dots{
  width: 70px;
  height: 90px;
  right: 20px;
  top: 90px;
}
#left-bottom{
  height:150px;
  bottom:-50px;
  left:35px;
 }
h1{
  font-size: 18px;
  line-height: 18px;
}
#cityguide{
  height: 35px;
  width: 120px;
 }
#book{
  width: 25px;
  height: 25px;
}
#guide{ 
  font-size: 12px;
  left: 40px; 
  top: 10px;
}
#mytrip{
  right: 35px;
  padding-top:5px;
  height: 35px;
  width: 120px;
  font-size: 12px;
}
#right{
  padding-left: 35px;
  vertical-align: top;
}
h2{
  font-size: 18px;
}
h3{
  font-size:12px;
  line-height:2px;
}
#circle{
  margin-top: 5px;
}
.squares{
  margin-top: 10px;
  margin-right: 5px;
}
#right_middle{
  top:50px;
}
#text{
  top:-30px;
  font-size: 12px;
}
#line{
  height: 90px;
  top: -15px;
  right: 105px;
}
#big_circle{
  width:150px;
  height:150px;
  right: -75px;
  top:-35px;
}
#small_circle{
  width: 60px;
  height: 60px;
  top: 10px;
  right:-30px;
}
.little_dots{
  width: 8px;
  height: 8px;
  margin-top: -20px;
}
#dot2{
  left: 50px;
}
#dot3{
  left: 65px;
}
#right_bottom{
  height: 110px;
  top:45px;
}
#friends{
  font-size: 12px;
}
.faces{
  width: 40px;
  height: 40px;
  margin-top: 50px;
}
#face2{
  left: 50px;
}
#face3{
  left: 100px; 
}
#face4{
  width:40px;
  height:40px;
  left: 150px; 
}
#more_one{
  width: 0px;
  height: 0px;
  background-color: rgba (0,0,0,0.0);
  font-size: 0px;
}
#more_two{
  height:20px;
  width:90px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: 40px;
  right: 0px;
  font-family: 'Helvetica';
  font-size: 10px;
  color: grey;
  cursor: pointer;
}  
}
@media (min-width:830px){
  #info{
    font-size: 16px;
  }
  #percentuale{
    width:100px;
    height:100px;
    top: 15px;
  }
  #novantotto{
    font-size: 22px;
    right: 25px;
    top: 28px;
  }
  #dots{
    width: 80px;
    height: 100px;
    right: 30px;
  }
  #left-bottom{
    bottom: -40px;
    left: 50px;
  }
  h1{
    font-size: 22px;
    line-height: 16px;
  }
  #cityguide{
    height:40px;
    width:150px;
  }
  #book{
    top:4px;
    left:10px;
  }
  #guide{
    font-size: 14px;
    left: 50px;
  }
  #mytrip{
    width: 150px;
    height: 40px;
    font-size: 14px;
    right: 50px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size:14px;
  }
  #circle{
    width:15px;
    height: 15px;
  }
  .squares{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-right: 0px;
  }
  #square_topsx{
  right: 35px
}
 #square_bottomsx{
  top: 33px;
  right: 35px;
}
  #square_bottomdx{
  top: 33px;
}
  #text{
    font-size: 16px;
  }
  #line{
  height: 100px;
  top: -20px;
  right: 125px;
  }
  .little_dots{
  margin-top: -10px;
  }
  
}


@media (max-width:546px){
  #percentuale{
    width: 100%;
    height: 60px;
    right: 0px;
    top: 3px;
    position:absolute;
    background-position: center;
    background-size: cover;
    }
    #left{
      height: 400px;
      background-position: center;
      background-size: cover;
    }
    #card-city{

      margin-left: 60px;

    
    }
}